* {
    font-family: courier new;
}
body{
    width: 1200px;
    /*border-style: solid;*/
}
a:link {
    color: #333;
    text-decoration: none;
}
a:visited {
    color: #333;
}
a:hover {
    color: #ecf0f1;
    background: #333;
}
a:active {
    color: #2ecc71;
}