* {
    background-color: #2ecc71;
}
h1 {
    background-color: #9b59b6;
}
button {
    background-color: #fff;
    border: none;
}
input {
    background-color: #fff;
    border: none;
    padding: 1em;
}